<button mat-raised-button (click)="toggle()">Totals</button>
<ng-container *ngIf="show">
  <ng-container *ngFor="let user of userPaidDebt$ | async; trackBy: trackByIndex">
    <mat-card>
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title>
            Name: {{ user.paidBy }}
          </mat-card-title>
          <mat-card-subtitle>
            Paid: {{ user.amount }}
          </mat-card-subtitle>
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content>
        <ng-container *ngIf="user.oves">
          <p>Needs to pay {{user.ovedAmount}}</p>
        </ng-container>
        <ng-container *ngIf="user.oves === false">
          <p>Will get {{user.ovedAmount}}</p>
        </ng-container>
        <p>Purchases: {{ user.name }}</p>
      </mat-card-content>
    </mat-card>
  </ng-container>
</ng-container>
