<h2>Add Expense</h2>
<form novalidate [formGroup]="newExpenseForm" #neform (ngSubmit)="onSubmit()">

  <!-- <input formControlName="id" type="hidden" required> -->

  <mat-form-field>
    <input matInput formControlName="name" placeholder="e.g. Netflix" type="text" required>
  </mat-form-field>
  <mat-error *ngIf="formErrors.name">
    {{formErrors.name}}
  </mat-error>
  <br />

  <mat-form-field>
    <input matInput formControlName="amount" placeholder="20" type="number" required>
  </mat-form-field>
  <mat-error *ngIf="formErrors.amount">
    {{formErrors.amount}}
  </mat-error>
  <br />
  <mat-radio-group formControlName="paidBy" aria-label="Paid by">
    <ng-container *ngFor="let user of appUsers$ | async">
      <mat-radio-button value="{{user.name}}">{{user.name}}</mat-radio-button>
    </ng-container>
  </mat-radio-group>
  <mat-error *ngIf="formErrors.paidBy">
    {{formErrors.paidBy}}
  </mat-error>

  <br />
  <mat-checkbox formControlName="recurring">recurring?</mat-checkbox>
  <br />

  <mat-form-field>
    <input matInput formControlName="month" placeholder="Month" type="month" required>
    <mat-error *ngIf="formErrors.paidBy">
      {{formErrors.month}}
    </mat-error>
  </mat-form-field>

  <mat-select placeholder="Type?" formControlName="category">
    <mat-option *ngFor="let ctype of category" [value]="ctype">
      {{ctype}}
    </mat-option>
  </mat-select>

  <button [disabled]="!newExpenseForm.valid" mat-raised-button color="primary" type="submit">
    Submit
  </button>
</form>
