<h2>Add Expense</h2>
<form novalidate [formGroup]="newExpenseForm" #neform (ngSubmit)="onSubmit()">

  <input formControlName="id" type="hidden" required>

  <mat-form-field>
    <input matInput formControlName="name" placeholder="e.g. Netflix" type="text" required>
  </mat-form-field>
  <br />

  <mat-form-field>
    <input matInput formControlName="amount" placeholder="20" type="number" required>
  </mat-form-field>
  <br />

  <mat-radio-group formControlName="paidBy" aria-label="Paid by">
    <mat-radio-button value="Sanja">Sanja</mat-radio-button>
    <mat-radio-button value="Zan">Zan</mat-radio-button>
  </mat-radio-group>

  <br />

  <mat-form-field>
    <input matInput formControlName="month" placeholder="Month" type="month" required>
  </mat-form-field>

  <mat-select placeholder="Type?" formControlName="category">
    <mat-option *ngFor="let ctype of category" [value]="ctype">
      {{ctype}}
    </mat-option>
  </mat-select>

  <button mat-button type="submit">
    Submit
  </button>
</form>
