<h2>Add Expense</h2>
<form class="example-form">
  <!-- name -->
  <mat-form-field class="example-full-width">
    <input matInput placeholder="e.g. Netflix" type="text" required>
  </mat-form-field>
  <br />
  <!-- amount -->
  <mat-form-field>
    <input matInput placeholder="20" type="number" required>
  </mat-form-field>
  <br />
  <!-- paidBy -->
  <mat-form-field>
    <input matInput placeholder="Sanja" type="text" required>
  </mat-form-field>
  <br />

  <mat-form-field>
    <input matInput placeholder="Month" type="month" required>
  </mat-form-field>
</form>
