@import '../../styles.scss';

:host {
  position: relative;
  .drawer-container {
    width: stretch;
    height: 100%;
  }

  fa-icon {
    position: absolute;
    top: $padding-regular;
    left: -10px;
    z-index: 99;
  }

  .drawer-sidenav-content {
    padding-top: $padding-regular;
  }

  .drawer-sidenav {
    padding: $padding-regular;
  }

  .mat-drawer-container {
    background-color: transparent;
  }
}
