<h2>Expenses Dashboard</h2>
<button type="button" mat-button (click)="drawer.toggle()">
  Totals
</button>
<mat-drawer-container class="drawer-container" autosize>
  <mat-drawer #drawer class="drawer-sidenav" mode="side">
    <app-totals-dashboard></app-totals-dashboard>
  </mat-drawer>

  <div class="drawer-sidenav-content">
    <div class="lists">
      <app-new-expense></app-new-expense>
      <app-monthly-expenses></app-monthly-expenses>
      <app-all-expenses></app-all-expenses>
    </div>
  </div>

</mat-drawer-container>
