  <ng-container *ngFor="let expense of expensesList;let i = index;trackBy: trackByIndex">
    <mat-card (mouseover)="over(i)" (mouseleave)="showDetails = false">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title>
            Name: {{ expense.name }}
          </mat-card-title>
          <mat-card-subtitle>
            Month: {{ expense.month }}
          </mat-card-subtitle>
        </mat-card-title-group>
        <fa-icon (click)="archive(expense)" *ngIf="showDetails && i === showDetailsId" class="push-right close-icon"
          [icon]="faTimes">
        </fa-icon>
      </mat-card-header>
      <mat-card-content>
        <p>Amount: {{ expense.amount }}</p>
        <p>Paid: {{ expense.paidBy }}</p>
      </mat-card-content>
    </mat-card>
  </ng-container>
