<app-date-picker></app-date-picker>

<ng-container *ngFor="let usr of paidByUser$ | async">
  <mat-card>
    <p>Name: {{ usr.paidBy }}</p>
    <p>Paid: {{ usr.amount }}</p>
    <p>{{ usr.name }}</p>
  </mat-card>
</ng-container>
<br />
<ng-container *ngIf="selectedMonth$ | async; let cm">
  <h3>{{ cm.currentMonth }}</h3>
  <ng-container *ngFor="let expense of cm.expenses">
    <mat-card>
      <p>Name: {{ expense.name }}</p>
      <p>Amount: {{ expense.amount }}</p>
      <p>Paid: {{ expense.paidBy }}</p>
    </mat-card>
  </ng-container>
</ng-container>
