<app-date-picker></app-date-picker>

<ng-container *ngIf="selectedMonth$ | async; let cm">
  <h3>{{ cm.currentMonth.cm[0] }}</h3>

  <div cdkDropListGroup class="containers-wrap">
    <div class="example-container">
      <h2>New</h2>

      <div class="example-list" cdkDropList [cdkDropListData]="cm.expenses" (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let expense of cm.expenses" cdkDrag>
          <ng-container *ngIf="!expense.paid">
            <mat-card class="this-month" (click)="openDialog(expense)" (mouseover)="over(i)"
              (mouseleave)="showDetails = false">
              <mat-card-header>
                <mat-card-title-group>
                  <mat-card-title>
                    Name: {{ expense.name  }}
                  </mat-card-title>
                </mat-card-title-group>
                <fa-icon (click)="archive(expense)" *ngIf="showDetails && i === showDetailsId"
                  class="push-right close-icon" [icon]="faTimes">
                </fa-icon>
              </mat-card-header>
              <mat-card-content>
                <p>Amount: {{ expense.amount }}</p>
                <p>Paid: {{ expense.paidBy }}</p>
              </mat-card-content>
            </mat-card>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="example-container" fxFlex="50">
      <h2>Paid</h2>
      <div class="example-list" cdkDropList [cdkDropListData]="paidExpenses" (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let expense of paidExpenses" cdkDrag>
          <ng-container *ngIf="expense.paid">
            <mat-card class="this-month paid" (click)="openDialog(expense)" (mouseover)="over(i)"
              (mouseleave)="showDetails = false">
              <mat-card-header>
                <mat-card-title-group>
                  <mat-card-title>
                    Name: {{ expense.name  }}
                  </mat-card-title>
                </mat-card-title-group>
                <fa-icon (click)="archive(expense)" *ngIf="showDetails && i === showDetailsId"
                  class="push-right close-icon" [icon]="faTimes">
                </fa-icon>
              </mat-card-header>
              <mat-card-content>
                <p>Amount: {{ expense.amount }}</p>
                <p>Paid: {{ expense.paidBy }}</p>
              </mat-card-content>
            </mat-card>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
